<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=c2be38f0-fe03-41b3-959a-d77ff972384b" type="text/javascript"></script>

  
  <title>{{htmlWebpackPlugin.option.title}}</title>
</head>
<body>
  {{> "./src/templates/map.hbs"}}
</body>
</html>
